{% extends "base.twig" %}

{% block content %}
		<div class="body">
        <header id="header" class="header-narrow header-semi-transparent header-transparent-sticky-deactive header-transparent-bottom-border" data-plugin-options='{"stickyEnabled": true, "stickyEnableOnBoxed": true, "stickyEnableOnMobile": true, "stickyStartAt": 1, "stickySetTop": "1"}'>
            <div class="header-body">
                <div class="header-container container">
                    <div class="header-row">
                        <div class="header-column">
                            <div class="header-logo">
                                <a href="{{ path('index') }}">
                                    <img alt="PHP Sevilla" width="223" height="50" src="{{ app.request.basepath }}/assets/img/phpsevilla.png">
                                </a>
                            </div>
                        </div>
                        <div class="header-column">
                            <div class="header-row">
                                <div class="header-nav header-nav-dark-dropdown">
                                    <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    {% include 'menu.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div role="main" class="main">

            <section class="page-header custom-product">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7" style="margin-top:250px;">
                            <h1><strong>Jobs</strong></h1>
                        </div>
                    </div>
                </div>
            </section>

		        <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="blog-posts">

        					          <article class="post post-medium">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2">
                                        <p>Do you want to publish a job position? Send us an email. We are a big group of PHP developers in Sevilla. We are happy to receive new jobs positions in Sevilla.</p>
                                    </div>
                                </div>
                            </article>



														<article class="post post-medium">
																<div class="row">

																		<div class="col-md-12">

																				<div class="post-content">
																						<img style="width:150px;float:right;" src="https://pbs.twimg.com/profile_images/746075563438252032/an4cGmOR.jpg" alt="">
																						<h2>Programador(a) PHP Senior para proyectos de E-commerce en Faro y Berlín</h2>
																						<div class="post-meta">
																								<span><i class="fa fa-calendar"></i> 17/03/2017 - Votum</span>
																						</div>
																						<p>Buscamos Programador(a) PHP con experiencia en proyectos de E-commerce para reforzar nuestro equipo en Berlín - entrada inmediata.</p>

																						<h4>Sobre el puesto:</h4>
																						<p>Cómo senior PHP developer, tendrás la oportunidad de contribuir con tus ideas y habilidades y conocer nuevas e interesantes tecnologías en E-commerce. Contribuirás en proyectos grandes, donde tendrás la opotunidad de influir y dar forma al resultado final. Para comenzar, recibirás formación por nuestro equipo que te mostrará detalladamente nuestros sistemas, de modo que puedas unirte rápidamente a nuestros proyectos.
																						</p>
																						<h4>Qué queremos de ti:</h4>
																						<p>
																							<ul>
																								<li>Conocimientos en alguno de estos lenguajes: PHP, Java, C++, Python, Ruby o similar.</li>
																								<li>Conocimientos sobre el manejo de frameworks como Symfony 3, Spring, Ruby on Rails o similar.</li>
																								<li>Conocimientos genéricos sobre bases de datos.</li>
																								<li>Buenos conocimientos en CSS y Javascript.</li>
																								<li>Estar al día sobre estándares y nuevas tecnologías.</li>
																								<li>Habilidad para resolver problemas.</li>
																								<li>Habilidad para desarrollar tu trabajo en inglés.</li>
																							</ul>
																						</p>
																						<h4>Qué tenemos para ofrecerte:</h4>
																						<p>
																							<ul>
																								<li>Proyectos desafiantes que se convertirán en realidad gracias a ti.</li>
																								<li>Presupuesto para formación y asistencia a conferencias.</li>
																								<li>Uso de herramientas y tecnologías modernas, entre otras  PHPStorm, Vagrant y Docker.</li>
																								<li>Trabajar junto a profesionales. Metodologías ágiles y uso de herramientas colaborativas como Jira y Git.</li>
																								<li>Elegirás tu propio equipo de trabajo.</li>
																								<li>Empezarás el trabajo con una sesión de formación por parte del equipo.</li>
																								<li>Conciliación con tu vida personal. Tendrás libertad para perseguir objetivos profesionales y personales. (Por ejemplo: Jornadas de trabajo de 4 días por semana, trabajo desde casa (previa negociación), trabajar desde nuestra oficina de Faro (Portugal), viajes al extranjero, ...)</li>
																							</ul>
																						</p>
																						<h4>Sobre Votum GmbH</h4>

																						<p>Realizamos proyectos E-commerce desde 1997, en los que la estrategia, el desarrollo y el marketing online van de la mano. Nuestros equipos interdisciplinarios trabajan para clientes como Universal Music, Ehapa, EDEKA y medi GmbH & Co. KG . Regularmente, apoyamos ONGs con nuestro conocimiento en proyectos de voluntariado, como la Fundación de la Comunidad de Berlín o el proyecto One Warm Winter.
																						Actualmente, en nuestras oficinas en Berlín (Subestacion de Kreuzberg) trabajan 65 personas en programación, diseño y marketing online. Nuestras unidades de Stuttgart y Faro (Portugal) contribuyen con especialistas en consultoría y el área de programación. Juntos, ¡trabajamos en el futuro del E-commerce!
																						</p>
																						<h4>¡Esperamos tu candidatura!</h4>
																						<p>Envía tu candidatura junto con tu CV y tu posible fecha de inicio a Franziska Ebert (bewerbung@votum.de).</p>
																						<p>Si tiene preguntas, póngase en contacto con nosotros llamando al +49 (0) 30 284 726</p>

																				</div>
																		</div>

																</div>
																<div class="row">
																		<div class="col-md-12">
																				<div class="post-meta">
																						<a rel="nofollow" href="http://votum.pt/#contacts" class="btn btn-xs btn-primary pull-right">Contact with Votum</a>
																				</div>
																		</div>
																</div>

														</article>






														<article class="post post-medium">
																<div class="row">

																		<div class="col-md-12">

																				<div class="post-content">
																						<img style="width:150px;float:right;" src="http://www.alleyoop.be/img/logo-red-200.png" alt="">
																						<h2>Oferta empleo. Desarrollador Frontend / Backend en Sevilla</h2>
																						<div class="post-meta">
																								<span><i class="fa fa-calendar"></i> 24/01/2017 - AlleyOop</span>
																						</div>
																						<p><strong>Alley Oop</strong> es un estudio de desarrollo informático y de comunicación especializado en el deporte. Somos una empresa belga con presencia en España y Sudamérica.</p>
																						<p>Con objeto de reforzar nuestro equipo en Sevilla para nuevos proyectos en 2017 buscamos un desarrollador Frontend/Backend con al menos 3 años de experiencia y muy buen conocimiento en la siguientes tecnologías:</p>
																						<p>
																							<ul>
																								<li>PHP5 / MySQL</li>
																								<li>HTML5 / CSS3</li>
																								<li>JavaScript y jQuery</li>
																								<li>Angular JS y/o Backbone y/o REACT</li>
																								<li>Wordpress y/o Drupal y/o Symfony2</li>
																								<li>RESTful API</li>
																								<li>OAuth</li>
																								<li>GIT</li>
																							</ul>
																						</p>

																						<p>También se valorará positivamente :</p>
																						<p>
																							<ul>
																								<li>Conocimientos en el desarrollo de aplicaciones para móviles</li>
																								<li>Idiomas: buen nivel de inglés y francés</li>
																								<li>Flexibilidad</li>
																								<li>Afición por el deporte</li>
																							</ul>
																					</p>
																					<p>Según necesidad y el perfil de la persona contratada, podría estar prevista una estancia de formación de un mes de duración en Sudamérica para la que podrá cubrirse desplazamiento y estancia.

																					</p>
																					<p>La modalidad de contratación es con estatuto de autónomo. El presupuesto disponible para este puesto estará entre 1600 € y 2000 € brutos al mes, dependiendo del perfil y de la experiencia.

																					</p>
																					<p>Ofrecemos un ambiente de trabajo excelente, un puesto de trabajo en el coworking WorkInCompany, y la posibilidad de formar parte del equipo a largo plazo y ser parte del crecimiento de una joven empresa que tiene ganas de poner a disposición las nuevas tecnologías a los deportistas.

																					</p>
																					<p>Si estás interesado/a y con ganas de formar parte de nuestro equipo, ponte en contacto conmigo por MP o escríbenos a info@alleyoop.be.
																					</p>
																				</div>
																		</div>

																</div>
																<div class="row">
																		<div class="col-md-12">
																				<div class="post-meta">
																						<a rel="nofollow" href="http://www.alleyoop.be" class="btn btn-xs btn-primary pull-right">Contact with Alley Oop</a>
																				</div>
																		</div>
																</div>

														</article>

                        </div>
                    </div>
                </div>
				  </div>
    </div>
</div>
{% endblock %}
